[*.cs]

# S3220: Method calls should not resolve ambiguously to overloads with "params"
dotnet_diagnostic.S3220.severity = suggestion

# RCS1238: Avoid nested ?: operators.
dotnet_diagnostic.RCS1238.severity = suggestion

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = suggestion

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = suggestion

# RCS1146: Use conditional access.
dotnet_diagnostic.RCS1146.severity = suggestion
